.commentWrapper {
    background-color: #fff;
    padding: 20px;

    .title {
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f90;
        text-align: left;
    }

    .sendComment {
        .textarea {
            padding: 10px;
            box-shadow: 2px 3px 1px #888;
            border: 1px solid #f90;
        }

        .send-btn {

            text-align: left;
            margin-top: 10px;

            button {
                background-color: #0f0;
            }

            button:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .commentWrapper {

        .sendComment {
            .textarea {
                padding: 10px;
                width: 100%;
                box-shadow: 2px 3px 1px #888;
                border: 1px solid #f90;
            }

            .send-btn {
                width: 100%;
                text-align: right;
                width: 100%;
                font-weight: bold;
                text-align: center;

                button {
                    width: 80%;
                }
            }
        }
    }
}