  .swiper-container {
    width: 513px;
    height: 220px;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
    }

    .swiper-pagination-bullet {
      background-color: #f90;
    }

    .swiper-button-prev,
    .swiper-button-next {
      transition: all .3s;
      color: #fff;
      opacity: 0;
      transform: translateX(-50px);
    }

    .swiper-button-prev {
      transform: translateX(50px);
    }

    &:hover {

      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }




  @media screen and (max-width: 900px) {
    .swiper-container {
      width: 100%;
      height: 220px;
      margin: 0 auto;
    }
  }